.Rproj.user
.Rhistory
.RData
.Ruserdata

DailyMeasure_cfg\.sqlite

DailyMeasure_cfg\.yaml

debug.log
inst/doc

R/example.R

shinyapps/.DailyMeasure_cfg.sqlite

shinyapps/.DailyMeasure_cfg.yaml

.DailyMeasure_cfg.sqlite

.DailyMeasure_cfg.yaml
